.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.img-responsive-centered {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

.sidebar {

}

.post-content,
.post-excerpt {
	font-size: 18px;
}

@media (max-width: 992px){
	.bio {
		text-align:center;
	}
	
	.bio h4 {
		margin-left: auto;
		margin-right: auto;

		max-width: 500px;
	}
}

.content-main {
	/* Give the content a little more separation from the sidebar */
	margin-left: 10px;
}

.icon-gray {
	color: dimgray;
}
