/* IMAGE STYLING */
.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.img-responsive-centered {
	display: block;
	height: auto;
	max-width: 90%;
	margin: 0 auto;
}

/* /IMAGE STYLING */

.sidebar {

}

.post-content,
.post-excerpt {
	font-size: 18px;
}

/* Alternate styling for sidebar for vertical layout */
@media (max-width: 992px){
	.bio {
		text-align:center;
	}
	
	.bio h4 {
		margin-left: auto;
		margin-right: auto;

		max-width: 500px;
	}
}

/* POST STYLING */

.post-meta {
	margin-top: 12px;
	float: right;
	color: #B0B0B0;
}

.post {
    position: relative;
    width:100%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
}

/* Add a little circle in the middle of the border-bottom on our .post */
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.post-title {
	line-height: 1.2em;
	margin-bottom: 30px;
}

/* /POST STYLING */