@import url("//fonts.googleapis.com/css?family=Josefin+Sans:400,600");

/* IMAGE STYLING */
.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.circular:hover {
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.img-responsive-centered {
	display: block;
	height: auto;
	max-width: 90%;
	margin: 0 auto;
}

/* Alternate styling for sidebar for vertical layout */
@media (max-width: 992px){
	.bio {
		text-align:center;
	}
	
	.bio h4 {
		margin-left: auto;
		margin-right: auto;

		max-width: 500px;
	}
}

/* POST STYLING */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

.post-content,
.post-excerpt {
	font-size: 18px;
}

.post-meta {
	margin-top: 12px;
	float: right;
	color: #B0B0B0;
}

.post-meta ul {
	list-style-type: none;
	padding: 0;
	margin: 5px 0 0 0;
}

.post-meta ul li {

}

.post {
    position: relative;
    width:100%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
}

/* Add a little circle in the middle of the border-bottom on our .post */
.post:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #fff 0 0 0 5px;
}

.post-title {
	line-height: 1.2em;
	margin-bottom: 30px;
}

blockquote {
	font-style: italic;
	margin: 30px 0px;
}

pre {
	margin: 30px 0px;
}

/* FOOTER */

@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

.site-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 4rem 0;
    border-top: 1px solid #ecf0f1;
    line-height: 1.7em;
    color: #848484;
    text-align: center;

}

.copyright {
	margin-bottom: 10px;
}